 __          .__                    .__  .__     __ __                     
|  | __ ____ |__|_______ ___________|  | |__|   |__|  | __     ____  __ __ 
|  |/ // __ \|  \___   // __ \_  __ \  | |  |   |  |  |/ /   _/ __ \|  |  \
|    <\  ___/|  |/    /\  ___/|  | \/  |_|  |   |  |    <    \  ___/|  |  /
|__|_ \\___  >__/_____ \\___  >__|  |____/__/\__|  |__|_ \ /\ \___  >____/ 
     \/    \/         \/    \/              \______|    \/ \/     \/       

---
Node: {{ ansible_nodename }}
Host: {{ ansible_host }}
---
