---
Powered by [10homelab](https://github.com/wanno-drijfhout/10homelab)

Domain    : {{ DOMAIN }}
CIDR      : {{ DOMAIN_CIDR }}
IP        : {{ ansible_host }}

Location  : {{ LOCATION }}
Inventory : {{ inventory_dir | basename }}
Node      : {{ ansible_nodename }}