# dnsmasq configuration

# Add domains which you want to force to an IP address here.
# The example below send any host in {{ DOMAIN }} to a local
# web-server.
address=/{{ DOMAIN }}/{{ SWARM_SHARED_IP }}